#btn-simulado{
    color: #fff;
    background-color: #4dd0e1;
    margin-bottom: 15px;
}
#btn-quizz{
    color: #fff;
    background-color: #4fe3b7;
    margin-bottom: 50px;
}
#btn-historico{
    color: #fff;
    background-color: #ff9800;
    margin-bottom: 100px;
}
#btn-sair{
    color: #fff;
    background-color: #f44336;
}