page-simulado-completo {
    h2{
        font-size: 25px !important;
        display: block;
        text-align: center;
        width: 100%;
    }
    p { 
        font-size: 40px !important;
        display: block;
        text-align: center;
        width: 100%;
    }
}
